- if displays = @messages.try(:first).try(:display)
  - displays.each do |type, settings|
    -# settings.inspect
    = send(type, chart_project_device_messages_path(settings: settings, limit: @limit, page: @page))
