- if displays = @messages.try(:first).try(:display)
  - displays.each do |type, settings|
    - if type == :line_chart
      = send(type, chart_project_device_messages_path(settings: settings, limit: @limit, page: @page), discrete: true)
    - else
      = render partial: 'map'
