#map{ style: "width: 100%; height: 400px;" }

= javascript_include_tag '//maps.google.com/maps/api/js?key=AIzaSyBA7K11dCkQbTfewJoXS9Bvs4J_eP8v1Ak'
= javascript_include_tag '//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'

:javascript
  (function() {
    var __markers;

    function updateMarkers(markersData) {
      if (typeof __markers !== 'undefined') {
        GMap.map.removeMarkers(__markers);
      }

      __markers = GMap.map.addMarkers(markersData);

      GMap.map.bounds.extendWith(__markers);
      GMap.map.fitMapToBounds();
    }

    function getMarkers(url, settings) {
      var data = $.getJSON(url, {
        format: "json",
        limit: settings.oAjaxData.length,
        page: settings.oAjaxData.start / settings.oAjaxData.length
      }).done(function(data) {
        updateMarkers(data["data"]);
      });
    }

    GMap = {};
    GMap.updateMarkers = updateMarkers;
    GMap.getMarkers = getMarkers;
  })();
