%h1 Devices

.table-responsive
  %table.table.table-hover.table-striped
    %thead
      %th DevEUI
      %th Description
      %th Model
      %th Vendor
    %tbody
      - @devices.each do |device|
        = render partial: device
- if @devices.empty?
  .alert.alert-info
    = t('.no_records')
